WilcoxonVTable/gaussianPvalues500.txt
WilcoxonVTable/pTable500.txt
WilcoxonVTable/wilxdata.tar.gz
WilcoxonVTable/wilxdata/gaussianPvalues500.txt
WilcoxonVTable/wilxdata/pTable500.txt
*/__pycache__/*
WilcoxonTestLibrary/rumDemTests
WilcoxonTestLibrary/rumDemTests.dSYM/
WilcoxonVTable/wilxdata/approximateTable50.txt
WilcoxonVTable/wilxdata/approximateTable500.txt
WilcoxonVTable/wilxdata/vTable50.txt
seminar_paper/html/*
seminar_paper/html/
seminar_paper/html.zip
